{% extends "../base.html" %}
{% load static from staticfiles %}

{% block body_block %}
{% if last_one_data_error %}
                <div class="panel-body">
                            <!-- Button trigger modal -->
                            <button class="btn btn-primary btn-lm" data-toggle="modal" data-target="#myModal">
                                Ooop's You Got Error
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ last_one_data_error }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                        </div>
                        <!-- .panel-body -->
                    </div>
                  {% endif %}
 <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{% url 'index' %}" class="btn btn-outline btn-primary "> Dashbord </a>
                            <a href="{% url 'entity' %}" class="btn  btn-outline btn-success "> Entity Table</a>
                            <a href="{% url 'intenttotask' %}" class="btn btn-outline btn-primary "> Intent To Task</a>
                            <a href="{% url 'tasktoentity'  %}" class="btn btn-outline btn-primary ">Task To Entity</a>
                            <a href="{% url 'user_chat_data' %}" class="btn  btn-outline btn-primary ">User Chat Extracted Date</a>
                            <a href="{% url 'question_view'  %}" class="btn btn-outline btn-primary ">Chat BOT</a>
                            <a href="{% url 'ConveUser'  %}" class="btn btn-outline btn-primary ">User Chat</a>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-4">


                                    <h1>Entity Form</h1>
                                    {% if entity_detail %}
                                    <form role="form"  method="post" action="/faq/entitycreate/" >
                                        {% csrf_token %}
                                        <div class="form-group has-success">
                                            <label class="control-label" for="inputSuccess11">Entity Type</label>
                                            <input type="text" class="form-control" name="EType"  id="inputSuccess11">
                                        </div>
                                        <div class="form-group has-success">
                                            <label class="control-label" for="inputSuccess12">Entity Name</label>
                                            <input type="text" class="form-control" name="EName"  id="inputSuccess12">
                                        </div>
                                        <div class="form-group has-success">
                                            <label class="control-label" for="inputSuccess13">Entity Regex</label>
                                            <input type="text" class="form-control" name="ERegex"  id="inputSuccess13">
                                        </div>
                                        <div class="form-group input-group">

                                            <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>

                                        </div>


                                    </form>
                                    {% endif %}

                                    {% if entity_edit1 %}


                                    <form role="form"  method="post" action="{% url 'entityedit1'  %}" >
                                        {% csrf_token %}
                                        <div class="form-group has-success">
                                            <label class="control-label" for="inputSuccess1">Entity Type</label>
                                            <input type="text" class="form-control" name="EType" value="{{ entity_edit1.Entity_Type }}" placeholder="{{ a.Entity_Type }}" id="inputSuccess1">
                                            <input type="hidden" class="form-control" name="eid" value="{{ entity_edit1.id }}" >
                                        </div>
                                        <div class="form-group has-success">
                                            <label class="control-label" for="inputSuccess2">Entity Name</label>
                                            <input type="text" class="form-control" name="EName" value="{{ entity_edit1.Entity_Name }}" id="inputSuccess2">
                                        </div>
                                        <div class="form-group has-success">
                                            <label class="control-label" for="inputSuccess">Entity Regex</label>
                                            <input type="text" class="form-control" name="ERegex" value="{{ entity_edit1.Entity_Regex }}" id="inputSuccess">
                                        </div>
                                        <div class="form-group input-group">

                                            <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>

                                        </div>


                                    </form>

                                    {% endif %}

                                </div>

                                <div class="col-lg-8">
                                    {% if entity_detail %}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Entity Table
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <td>Id</td>
                                            <td>Entity Type</td>
                                            <td>Entity Name</td>
                                            <td>Entity Regex</td>
                                            <td>Operation</td>
                                        </tr>
                                        </thead>
                                        {% for  i in entity_detail  %}
                                         <tbody>
                                        <tr class="odd gradeX">
                                            <td>{{ i.id}}</td>
                                            <td>{{ i.Entity_Type }}</td>
                                            <td>{{ i.Entity_Name }}</td>
                                            <td>{{ i.Entity_Regex }}</td>
                                            <td><a href="{% url 'entitydelete' id=i.pk %}" class="btn btn-sm btn-danger "><i class="fa fa-trash"></i></a>
                                            <a href="{% url 'entityedit' id=i.pk %}" class="btn btn-sm btn-info "><i class="fa fa-edit"></i></a></td>
                                        </tr>
                                         </tbody>
                                        {% endfor %}

                                    </table>

                                    {% endif %}
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                                </div></div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>


{% endblock %}